* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: #fff;
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 30px 100px;
    background: #111;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


footer .container .footer-header {
    color: #fff;
    width: 100%;
    text-align: center;
}

footer .container .footer-menu {
    display: flex;
    align-items: center;
    list-style: none;
}

footer .container .footer-menu li  {
    position: relative;
    margin: 10px 15px 0px 0px;

}

footer .container .footer-menu li a {
    color: #fff;
    text-decoration: none;
}

footer .container .footer-menu li a:hover {
    color: #999;
    text-decoration: none;
}

footer .container .footer-social {
    display: flex;
    list-style: none;
   justify-content: center;
}

footer .container .footer-social li {
    display: inline-block;
    position: relative;
    margin: 10px 10px 0 10px ;
}

footer .container .footer-social li a {
    font-size: 20px;
    color: #fff;
}

footer .container .footer-social li a:hover{
    color:#999;
}

.copyright{
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}


@media (max-width: 991px){

    footer {
        padding: 20px 40px;
    }
    .copyright {
         padding: 8px 40px;
    }
}