@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Crimson Text', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
}

.half-row {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.half-row .title {
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  color: #797979;
  font-size: 23px;
  padding: 10px 20px;
}

.third-row {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.third-row ul {
  display: block;
}

.third-row ul li {
  display: inline-block;
}

.third-row ul li .mega-item {
  text-decoration: none;
  font-size: 16px;
  padding: 7.5px 20px;
  text-transform: capitalize;
  width: 100%;
  color: #797979;
  display: inline-block;
}

.third-row ul li .mega-item:hover {
  color: #b09774;
}

body {
  background-color: #3A3B3C;
}

.main-menu {
  position: relative;
  z-index: 99;
  background: #fff;
  max-height: 87px;
  width: 100%;
  padding: 0 20px;
}

.main-menu .container {
  padding: 0 20px 0 20px;
  margin: 0 auto 0 auto;
}

.main-menu .container .navbar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.main-menu .container .navbar-wrapper .brand-icon {
  display: inline-block;
}

.main-menu .container .navbar-wrapper .brand-icon img {
  max-height: 5.5rem;
}

.main-menu .container .navbar-wrapper .link-wrapper .nav-links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-menu .container .navbar-wrapper .link-wrapper .nav-links .nav-link {
  list-style: none;
  padding: 35px 25px;
}

.main-menu .container .navbar-wrapper .link-wrapper .nav-links .nav-link.dropdown::after {
  content: "";
  display: inline-block;
  margin-left: .3em;
  vertical-align: .255em;
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

.main-menu .container .navbar-wrapper .link-wrapper .nav-links .nav-link .nav-item {
  font-size: 13px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.main-menu .container .navbar-wrapper .link-wrapper .nav-links .nav-link .nav-item:hover {
  color: #b09774;
}

.main-menu .container .navbar-wrapper .link-wrapper .nav-links .nav-link .dropdown-mega-area {
  position: absolute;
  width: calc(100%);
  background-color: #fff;
  display: block;
  min-width: 10rem;
  top: 100%;
  overflow: hidden;
  left: 0;
  right: 0;
  z-index: 1000;
  background-clip: padding-box;
  margin: .125rem 0 0;
  padding: 15px;
}

.main-menu .container .navbar-wrapper .icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 15px 0 0;
}

.main-menu .container .navbar-wrapper .icon-wrapper .search {
  margin-right: 14px;
  cursor: pointer;
}

.main-menu .container .navbar-wrapper .icon-wrapper .search:hover {
  color: #b09774;
}

.main-menu .container .navbar-wrapper .icon-wrapper .search i {
  font-size: 15px;
}

.main-menu .container .navbar-wrapper .icon-wrapper .cart {
  margin-right: 14px;
  cursor: pointer;
}

.main-menu .container .navbar-wrapper .icon-wrapper .cart:hover {
  color: #b09774;
}

.main-menu .container .navbar-wrapper .icon-wrapper .cart i {
  font-size: 18px;
}

.main-menu .container .navbar-wrapper .icon-wrapper .cart::after {
  content: attr(data-notify);
  font-size: 15px;
  color: #fff;
  text-align: center;
  display: block;
  position: absolute;
  line-height: 20px;
  height: 20px;
  width: 20px;
  top: 32%;
  margin-left: 10px;
  background-color: #b09774;
  border-radius: 50%;
}
/*# sourceMappingURL=style.css.map */