@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Crimson Text', serif;
}

img {
  display: block;
  max-width: 100%;
}

.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
}

.half-row {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  padding: 0 15px;
}

.half-row .title {
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  color: #797979;
  font-size: 20px;
  padding: 10px 20px;
  letter-spacing: 1px;
}

.widget {
  display: block;
  overflow: hidden;
}

.widget img {
  -webkit-transition: transform 1s ease;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.widget:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.third-row {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.third-row ul {
  display: block;
}

.third-row ul li {
  display: block;
}

.third-row ul li .mega-item {
  text-decoration: none;
  font-size: 16px;
  padding: 7.5px 20px;
  text-transform: capitalize;
  width: 100%;
  color: #797979;
  display: inline-block;
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
}

.third-row ul li .mega-item:hover {
  color: #b09774;
}

body {
  background-color: #fff;
  height: 10000px;
}

.main-menu {
  position: fixed;
  z-index: 99;
  background: #fff;
  max-height: 87px;
  width: 100%;
  padding: 0 20px;
  border-bottom: 1px solid rgba(176, 151, 116, 0.05);
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
}

.main-menu .container {
  padding: 0 20px 0 20px;
  margin: 0 auto 0 auto;
}

.main-menu .container .navbar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.main-menu .container .navbar-wrapper .brand-icon {
  display: inline-block;
}

.main-menu .container .navbar-wrapper .brand-icon img {
  max-height: 5.5rem;
}

.main-menu .container .navbar-wrapper .link-wrapper .nav-links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-menu .container .navbar-wrapper .link-wrapper .nav-links .nav-link {
  list-style: none;
  padding: 30px 25px;
}

.main-menu .container .navbar-wrapper .link-wrapper .nav-links .nav-link.dropdown:hover {
  cursor: pointer;
}

.main-menu .container .navbar-wrapper .link-wrapper .nav-links .nav-link.dropdown:hover .dropdown-mega-area {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.main-menu .container .navbar-wrapper .link-wrapper .nav-links .nav-link.dropdown::after {
  content: "";
  display: inline-block;
  margin-left: .3em;
  vertical-align: .255em;
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

.main-menu .container .navbar-wrapper .link-wrapper .nav-links .nav-link .nav-item {
  font-size: 13px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.main-menu .container .navbar-wrapper .link-wrapper .nav-links .nav-link .nav-item:hover {
  color: #b09774;
}

.main-menu .container .navbar-wrapper .link-wrapper .nav-links .nav-link .dropdown-mega-area {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: calc(100%);
  background-color: #fff;
  display: block;
  min-width: 10rem;
  top: 100%;
  overflow: hidden;
  left: 0;
  right: 0;
  z-index: 1000;
  background-clip: padding-box;
  margin: .125rem 0 0;
  padding: 15px 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
}

.main-menu .container .navbar-wrapper .link-wrapper .nav-links .nav-link .dropdown-mega-area .row .category-wrap {
  padding: 0 15px;
}

.main-menu .container .navbar-wrapper .icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 15px 0 0;
}

.main-menu .container .navbar-wrapper .icon-wrapper .search {
  margin-right: 14px;
  cursor: pointer;
}

.main-menu .container .navbar-wrapper .icon-wrapper .search:hover {
  color: #b09774;
}

.main-menu .container .navbar-wrapper .icon-wrapper .search i {
  font-size: 15px;
}

.main-menu .container .navbar-wrapper .icon-wrapper .cart {
  margin-right: 14px;
  cursor: pointer;
}

.main-menu .container .navbar-wrapper .icon-wrapper .cart:hover {
  color: #b09774;
}

.main-menu .container .navbar-wrapper .icon-wrapper .cart i {
  font-size: 18px;
}

.main-menu .container .navbar-wrapper .icon-wrapper .cart::after {
  content: attr(data-notify);
  font-size: 15px;
  color: #fff;
  text-align: center;
  display: block;
  position: absolute;
  line-height: 18px;
  height: 20px;
  width: 20px;
  top: 32%;
  margin-left: 10px;
  background-color: #b09774;
  border-radius: 50%;
}

.search-bg {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  z-index: 999;
  text-align: center;
  background: #fbfbfb;
}

.search-bg .container {
  max-width: 1200px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.search-bg .container .search-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
}

.search-bg .container .search-inner .form-control {
  background-color: transparent;
  border: 0px;
  color: #000;
  font-weight: 400;
  font-size: 15px;
  padding: 0;
  font-family: 'Roboto',sans-serif;
  width: 100%;
  height: 43px;
  line-height: 1.5;
  outline: none;
}

.search-bg .container .search-inner .btn {
  width: 0;
  height: 0;
  padding: 0;
  border: 0;
}

.search-bg .container .search-inner .close-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap-cart {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.6);
}
/*# sourceMappingURL=style.css.map */