@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
}

.half-row {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  padding: 0 15px;
}

.widget {
  display: block;
  overflow: hidden;
  height: 250px;
  width: 250px;
}

.img-load {
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-wrapper {
  background-color: #d1d1d1;
  width: 80px;
  height: 4.5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.spinner {
  height: 100%;
  width: 10px;
  background-color: #b09774;
  animation: lazyload 2s linear infinite;
  -webkit-animation: lazyload 2s linear infinite;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@keyframes lazyload {
  0% {
    width: 10px;
  }
  50% {
    width: 100px;
  }
  100% {
    width: 10px;
  }
}
