/*//////////////////////////////////////////////////////////////////
[ INSTAGRAM ]*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
}

img{
    display: block;
    max-width: 100%;
}

.head-section{
    padding-top: 85px;
}
.section-header{
     text-align: center;
     margin-bottom: 50px;

    h1{
        font-size: 1.75rem;
        font-family: "Crimson Text",  serif;
        color: grey;
        text-transform: uppercase;
    }
    a{
        color: grey;
    }

} 

.instagram{
    padding: 20px;
    width: 1200px;
    margin: 0 auto;
}

.main-instagram{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    padding-top: 20px;

    .picture-instagram{
        width: 300px;
        margin:5px;
        height: 100%;
        overflow: hidden;
        position: relative;
        text-align: center;
        img{
            display: block;
            position: relative;
            -webkit-transition: 0.5s;
            transition: 0.5s;
        }
    }
}

.picture-instagram:hover{

    .overlay{
    visibility: visible;
	filter: alpha(opacity=100);
	color: #fff;
	font-size: 25px;
	display: grid;
	align-items: center;
	align-content: center;
        .icon{
            display: block;
            }
    }

    img{
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

} 

.overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	visibility: hidden;
	background-color: rgba(176, 151, 116, 0.7);

    .icon{
        display: none;
    }
}


@media(max-width:991px){
    .instagram{
        width: 800px;
    }
    .main-instagram .picture-instagram{
        width: 200px;
    }
}

@media(max-width:540px){
    .instagram{
        padding: 5px;
        width: 350px;
    }
    .main-instagram .picture-instagram{
        width: 100px;
    }
}