.background-message {
  background-color: #efefef;
}

.message-wrap {
  position: relative;
}

img {
  display: block;
  width: 100%;
}

.img-wrap {
  width: 70%;
}
.message-text {
  position: absolute;
  width: 55%;
}

.from,
.to {
  font-family: "Poppins", sans-serif;
}
.message {
  font-family: "Alex Brush", cursive;
  font-size: 35px;
  margin: 15px 0 15px 0;
  text-align: center;
}
