@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}

.logo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 50%;
  left: 50%;
  width: 100px;
  max-width: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.logo .element {
  position: absolute;
}

.logo-layer2 {
  animation: logo1 2s linear infinite;
  -webkit-animation: logo1 2s linear infinite;
}

.logo-layer1 {
  animation: logo2 2s linear infinite;
  -webkit-animation: logo2 2s linear infinite;
}

.logo-layer3 {
  animation: logo3 2s linear infinite;
  -webkit-animation: logo3 2s linear infinite;
}

@-webkit-keyframes logo1 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
  }
  50% {
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes logo1 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
  }
  50% {
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes logo2 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
  }
  50% {
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes logo2 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
  }
  50% {
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes logo3 {
  0% {
    opacity: 0;
    transform: translate(-30px, -30px);
    -webkit-transform: translate(-30px, -30px);
    -moz-transform: translate(-30px, -30px);
    -ms-transform: translate(-30px, -30px);
    -o-transform: translate(-30px, -30px);
  }
  30% {
    opacity: 1;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes logo3 {
  0% {
    opacity: 0;
    transform: translate(-30px, -30px);
    -webkit-transform: translate(-30px, -30px);
    -moz-transform: translate(-30px, -30px);
    -ms-transform: translate(-30px, -30px);
    -o-transform: translate(-30px, -30px);
  }
  30% {
    opacity: 1;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */